In [1]:
import pandas as pd
import numpy as np

In [2]:
#criar funções para strip de strings
# criar tabulação para dataframe com diferentes números de coluns

In [3]:
a='     '
a.strip()

''

In [4]:
alfa='aaa000000aaaa'
alfa.lstrip('a')

'000000aaaa'

In [5]:
#Linkar tabelas via Pandas para justificar cada coisa
#Tipo um SQL

In [6]:
#lista_teste
lt = ['casa;canto;10','carro;arroz;11;cor','casa;canto;11','casa;ar;11','casa;perder;11']

In [35]:
df1=pd.DataFrame([[1,2,3],[1,1,1],[2,2,2],[4,4,4]],columns=['A','B','C'])
df2=pd.DataFrame([[1,2,2],[1,2,3]],columns=['A','B','C'])
df3=pd.DataFrame([[3,5,3],[4,3,3]],columns=['A','B','C'])
lista = [df1,df2,df3]

In [36]:
df1

   A  B  C
0  1  2  3
1  1  1  1
2  2  2  2
3  4  4  4

In [37]:
serie=df1['B']
serie

0    2
1    1
2    2
3    4
Name: B, dtype: int64

In [40]:
4 in serie

False

In [43]:
#Metodo correto para averiguar
2 in df1['B'].values

True

In [ ]:
#CreateLogic to Find

In [20]:
#Teste Logica
df1['A'][0]==df2['A'][0]

True

In [19]:
df1['A']==df2['B']

0    False
1    False
dtype: bool

In [8]:
#Posso acessar diretamente o DF pela posição na lista de DFs
lista[1]

   A  B  C
0  2  2  2

In [9]:
for i in lista:
    display(i)

   A  B  C
0  1  2  3

   A  B  C
0  2  2  2

   A  B  C
0  3  5  3

In [10]:
d={'Carlos':22011993,'Pedro':22022000,'João':10031995}

In [11]:
#Fazer uma lista com dicts
d = {}
for name in companies:
    d[name] = pd.DataFrame()

NameError: name 'companies' is not defined

In [ ]:
#Exemplo case

In [ ]:
'''
Fazer multiplos displays
Comentar adequadamente cada função
'''