In [1]:
import pandas as pd
import numpy as np

In [2]:
#criar funções para strip de strings
# criar tabulação para dataframe com diferentes números de coluns

In [3]:
a='     '
a.strip()

''

In [4]:
alfa='aaa000000aaaa'
alfa.lstrip('a')

'000000aaaa'

In [5]:
#Linkar tabelas via Pandas para justificar cada coisa
#Tipo um SQL

In [6]:
df1=pd.DataFrame([[1,2,3]],columns=['A','B','C'])
df2=pd.DataFrame([[2,2,2]],columns=['A','B','C'])
df3=pd.DataFrame([[3,5,3]],columns=['A','B','C'])
lista = [df1,df2,df3]

In [7]:
for i in lista:
    display(i)

   A  B  C
0  1  2  3

   A  B  C
0  2  2  2

   A  B  C
0  3  5  3

In [ ]:
#Fazer uma lista com dicts
d = {}
for name in companies:
    d[name] = pd.DataFrame()